html{
    font-family: "Montserrat", sans-serif!important;
}
body{
    font-family: "Montserrat", sans-serif!important;
}

.btn_blog{
  font-size: 0.6rem!important;
}
.page-link-active{
  background: #2e2e2e!important;
}
.card-body{
  font-family: Montserrat!important;
  transition: .66s;
}
#lang_select{
  background-image: none!important;
    padding: 5px;
    text-align: center;
    border: 1px solid #181818;
    color: #181818;
    font-family: Montserrat,sans-serif;
    font-weight: 600;
}

.card-body:hover{
  background-color: white!important;
  color: #2C2C2C!important;
}
.card-body:hover .card-title{
  color: #2C2C2C!important;
}
.card-body:hover .card-text{
  color: #2C2C2C!important;
}
.card-body:hover .btn-offer{
  color: #2C2C2C!important;
}

.my-form-inputs{
  border-radius: 0px!important;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #2C2C2C!important;
    background-color:#2C2C2C!important;
}
.my-form-inputs:focus{
    color:  #2C2C2C;
    background-color: #fff;
    border-color:  #2C2C2C;
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0,0,0,0)!important;
}
.header__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #2C2C2C;
    font-size: 38px;
    letter-spacing: 0.98px;
    line-height: 1;
}
.section_btn {
    font-family: "Montserrat", sans-serif;
    background-color: #ffffff;
    color: #2C2C2C;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 11px 22px;
    border: 2px solid #2C2C2C;
    transition: 0.5s;
    cursor: pointer;
}
.section_btn:hover {
    background: #2C2C2C!important;
      color: #000000!important;
      color: white!important;  }
.icon_filtr {
    filter: invert(100%);
}


@media (max-width: 2560px) {
  
  .main-header__carousel-img {
    height: 760px; } }
@media (max-width: 1795px) {
  
  .main-header__carousel-img {
    height: 662px;
    width: 74%; } }
@media (max-width: 1440px) {
  .main-header__control-container {
    justify-content: center!important;
    }
   
  .main-header__carousel-img {
    width: 78%; }
    .social__mini{
        display: flex!important;
    }
    .social__bar{
        position: relative!important;
    }
    .social__circle {
        margin-top: 0px!important;
    }
    .social__max{
        display: none!important;
    }

     }
@media (max-width: 1199px) {
  .main-header__title-box {
    padding: 41px; }
   
  .main-header__title {
    font-size: 52px; }
  .main-header__text {
    font-size: 14px; }

  .default-section__cell {
    height: 246px; }
  .default-section__cell-title {
    font-size: 24px; } }
@media (max-width: 991px) {
  .main-header__logo {
    padding: 0px 10px!important;
    }
  .main-header__title-box {
    background: #fff;
    padding: 35px!important;    
    width: 525px;
    }
    .main-footer__list {
    height: auto!important;
    }
  .main-header__title-box {
    width: auto; }
  .main-header__title {
    font-size: 46px; }
  .main-header__carousel-container {
    padding: 0; }
  .main-header .navbar-collapse {
    text-align: center;
    padding: 13px 0; }
  .main-header__social-box {
    margin-top: 10px; }
  .main-header__carousel-img {
    height: 500px; }
  .main-header__separator {
    margin: 15px 0; }

  .default-section__cell {
    margin-bottom: 20px; }
  .default-section__realizations {
    flex-wrap: wrap; }
  .default-section__realizations-cell {
    width: 100%; }
  .default-section__realization-img-left {
    width: auto;
    left: 54px; }
  .default-section__realization-img-right {
    width: auto;
    right: 54px; }

  .main-footer__col {
    margin-bottom: 20px;
    text-align: center; }
  .main-footer__form-row {
    flex-wrap: wrap;
    justify-content: center; }
  .main-footer__form {
    width: 100%;
    justify-content: center;
    margin-top: 14px; } }
@media (max-width: 767px) {
    .main-header__title{
      font-size:2.5rem!important
    }
    .main-header__background {
    width: 20px!important;
    }
    

  .default-section {
    padding-top: 0px!important; }
  .main-header__title {
    font-size: 36px; }
  .main-header__text {
    margin-bottom: 20px; }

  .brands__row {
    flex-direction: column;
    height: auto; }
  .brands__separator {
    display: none; }
  .brands__img {
    margin-bottom: 22px; } }
@media (max-width: 575px) {
    .main-header__title{
      font-size:1.5rem!important
    }
    
    .about{
      margin-top: 0px!important;
    }
    .why_us{
      padding-top: 0px!important;
    }
    .header__title {
      margin-bottom: 0px!important;
      margin-top: 0px;
      font-size: 2rem;  
    }
    .header-oferta{
      margin-bottom: 1.5rem!important;
      margin-top: 2rem!important;
    }
    .section_btn_mobile{
      margin-top:1.5rem!important;
    }

    .header__title {
      margin-bottom: 1rem!important;
      margin-top: 1.5rem;
    }
    .section_btn__default-section {
    margin-bottom: 3rem!important;
    margin-top: 2rem!important;
    }
    .about-text{
      margin-left:15px;
    }
    .default-section__desc-box {
        margin-right: 0px!important;
    }
  .main-header .navbar-brand {
    width: 133px; }
  .main-header__background {
    width: 133px; }
  .main-header__carousel-img {
    height: 470px; }
  .main-header__btn {
    display: inline-block;
    font-size: 14px; }
  .main-header__title-box {
    padding: 26px; }
  .main-header__control-container {
    bottom: 20px;
    z-index: 1111; }

  .default-section__text {
    text-align: center; }
  .default-section__main-title {
    font-size: 40px; }
  .default-section__realizations-cell {
    height: 250px; }
  .default-section__realization-img-left {
    bottom: 40px;
    height: auto;
    left: 40px; }
  .default-section__square-left {
    width: 136px;
    height: 136px; }
  .default-section__square-right {
    width: 136px;
    height: 136px; }
  .default-section__realization-img-right {
    height: auto;
    bottom: 40px;
    right: 40px; }
  .default-section__input {
    width: 100%;
    margin-bottom: 10px; }
  .default-section__form-row {
    margin: 0; }

  .main-footer__list {
    flex-direction: column;
    height: auto;
    align-items: center;
    margin-bottom: 10px; }
  .main-footer__list-item {
    margin-bottom: 6px; }
  .main-footer__input {
    width: 208px; }

  .copyrights {
    font-size: 12px;
    height: auto;
    padding: 10px 0;
    text-align: center; }
    .copyrights__container {
      flex-direction: column; } }


  .offer-box {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
}
.default-section {
    padding-top: 50px; }
    .default-section__cell {
      height: 300px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      background-position: center;
      background-size: cover; }
      .default-section__cell:hover .default-section__desc-box {
        background-color: #2C2C2C; }
    .default-section__desc-box {
      padding: 16px;
      background-color: #292929c4;
      margin-right: 30px;
      transition: 0.5s; }
    .default-section__cell-title {
      color: #ffffff;
      font-family: "Montserrat", sans-serif;
      font-size: 26px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.96px; }
    .default-section__cell-desc {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #c0c0c0;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1.62px; }
    .default-section__main-title {
      text-align: center;
      color: #000000;
      font-family: "Montserrat", sans-serif;
      font-size: 45px;
      font-weight: 700;
      line-height: 52.11px;
      text-transform: uppercase;
      letter-spacing: 0.62px;
      margin: 0; }
    .default-section__separator {
      margin: 40px auto;
      display: block; }
    .default-section__text {
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.24px; }
    .default-section__bold-text {
      font-weight: 700; }

.main-header .navbar-brand {
    padding: 0; }
  .main-header__navbar {
    padding: 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    font-family: "Montserrat", sans-serif;
    font-weight: 600!important;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    z-index: 1000;
    background-color: white;
    z-index: 1; }
  .main-header__logo {
    max-width: 100%;
    height: 80px;
    margin: 5px 0px;
     }
  .main-header .navbar-brand {
    width: 210px; }
  .main-header__social-link {
    display: inline-block; }
    .main-header__nav-link{
      color: #2C2C2C!important;
      font-size: 16px; }
    .main-header__social-link:hover {
      transform: scale(1.1); }
  .main-header__lang {
    margin: 0 33px;
    color: #000000; }
  .main-header__lang-arrow {
    margin-left: 10px; }
  .main-header .collapse {
    justify-content: space-between; }
  .main-header__social-link {
    color: black;
    margin: 0 5px; }
  .main-header__social-link:hover {
        color: black;
        margin: 0 5px; }
  .main-header .navbar-nav {
    margin-left: auto; }
  .main-header .carousel-item {
    background-color:#2C2C2C!important; 
    position: relative; }
  .main-header__carousel-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .main-header__background {
    background-color: #2C2C2C;
    width: 210px;
    height: 100%;
    position: relative; }
    .main-header__background::before {
      content: "";
      position: absolute;
      right: 100%;
      bottom: 0;
      top: 0;
      display: block;
      width: 100vh;
      background-color: #2C2C2C; }
  .main-header__carousel-img {
    height: 662px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    width: 70%; }
  .main-header__title-box {
    background: rgba(255,255,255,0.8);
    padding: 65px;
    position: absolute;
    z-index: 1002;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
    width: 625px; 
  }
  .main-header__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: #181818;
    font-size: 58px;
    letter-spacing: 0.98px;
    line-height: 1; }
  .main-header__separator {
    width: 111px;
    height: 4px;
    display: block;
    background-image: url("img/shape1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 30px 0; }
  .main-header__text {
    color: #181818;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
    margin-bottom: 50px; }
  .main-header__btn {
    font-family: "Montserrat", sans-serif;
    background-color: #ffffff;
    color: #2C2C2C;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 11px 22px;
    border: 2px solid #2C2C2C;
    transition: 0.5s;
    cursor: pointer; }
    .main-header__btn:hover {
      background: #2C2C2C!important;
      color: #000000!important;
      color: white!important; }
  .main-header__control-container {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end; }
  .main-header__control-box {
    display: flex; }
  .main-header .carousel-control-prev,
  .main-header .carousel-control-next {
    width: 50px;
    height: 49px;
    position: static;
    background-color: #2C2C2C;
    opacity: 0.8!important;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s; }
  .main-header .carousel-control-prev {
    left: 0;
    background-image: url("../../img/carousel-arrow-left.png"); }
    .main-header .carousel-control-prev:hover {
      background-image: url("../../img/carousel-arrow-left.png");
      background-color: #fff;
      background-position: center;
      opacity: 1; }
  .main-header .carousel-control-next {
    right: 0;
    background-image: url("../../img/carousel-arrow-right.png"); }
    .main-header .carousel-control-next:hover {
      background-image: url("../../img/carousel-arrow-right.png");
      background-color: #fff;
      background-position: center;
      opacity: 1; }
.social__bar{
  width: 200px;
  height: 100%;
  background-color: #2C2C2C;
  position: absolute;
  display: flex;
  align-items:center;
}
.social__mini{
  display: none;
  width: 100%!important;
  height: 100px;
  background-color: #2C2C2C;
  align-items:center;
}
.social__box{
  margin: auto;
}
.social__circle{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 0 auto;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10em;
    width: 48px;
    height: 48px;
    line-height: 48px;
    margin-top: 15px;
}

.social__icon{
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.social__icon:hover{
  color: rgba(255, 255, 255, 1);
}

.sticky {
  position: fixed!important;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.normal {
  position: relative!important;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.nav__bordered{
    border-bottom: 1px solid black;
}

.gallery_box {
  column-count: 3;
  column-gap: .6em;
}

.item {
  display: inline-block;
  margin: 0 0 .3em;
  width: 100%;
}


@media (max-width: 991px) {
  .gallery {
    column-count: 2;
    column-gap: .3em;
  }
  
  .item {
    display: inline-block;
    margin: 0 0 .3em;
    width: 100%;
  }
}

@media (max-width: 575px) {
  .gallery {
    column-count: 1;
    column-gap: .3em;
  }
  .carousel-other{
    display: none;
  }
  .gallery_box {
      column-count: 1!important;
  }

  .item {
    display: inline-block;
    width: 100%;
  }
}
.main-footer {
    padding: 50px 0;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.36px; }
    .main-footer__logo {
      margin-bottom: 40px; }
    .main-footer__bold {
      font-weight: 700; }
    .main-footer__list {
      list-style-type: none;
      display: -ms-flexbox;
      display: flex;
      height: 43px;
      margin-bottom: 40px;
      -ms-flex-pack: justify;
          justify-content: space-between;
      padding: 0;
      width: 100%; }
    .main-footer__list-item {
      height: 100%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center; }
    .main-footer__link {
      color: #fff;
      font-weight: 500!important;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase; }
      
    .main-footer__form {
      margin-left: auto;
      display: -ms-flexbox;
      display: flex;
      height: 48px; }
    .main-footer__input {
      background: #fff;
      border: none;
      padding: 8px 13px;
      width: 330px; }
      .main-footer__input:-ms-input-placeholder {
        font-family: "Montserrat", sans-serif;
        color: #343434;
        font-size: 14px;
        font-weight: 400; }
      .main-footer__input::placeholder {
        font-family: "Montserrat", sans-serif;
        color: #343434;
        font-size: 14px;
        font-weight: 400; }
    .main-footer__submit {
      font-family: "Montserrat", sans-serif;
      background-color: #fff;
      color: #181818;
      font-size: 18px;
      font-weight: 800;
      text-transform: uppercase;
      padding: 8px 16px;
      border: 2px solid #000;
      transition: 0.5s;
      cursor: pointer; }
      .main-footer__submit:hover {
        background: transparent;
        color: #fff; }
    .main-footer__form-row {
      display: -ms-flexbox;
      display: flex; }
  
  .copyrights {
    height: 76px;
    color: #ffffff;
    font-size: 14px; }
    .copyrights__container {
      font-family: "Montserrat", sans-serif;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: justify;
          justify-content: space-between;
      height: 100%; }
    .copyrights__link {
      font-weight: 700;
      color: #ffffff; }
      .copyrights__link:hover {
        color: #fff; }
.contact_us {

   height: 500px;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 150px 0px;

}
.contact_title {

  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #181818;
  font-size: 38px;
  letter-spacing: 0.98px;
  text-shadow: 2px 2px #2C2C2C;

}
.contact_btn {
  font-family: "Montserrat", sans-serif;
    background-color: #2C2C2C;
    color: white;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 11px 22px;
    border: 2px solid #2C2C2C;
    transition: 0.5s;
    cursor: pointer; 
}
.contact_btn:hover {
  background: #2C2C2C!important;
      color: #000000!important;
      color: white!important;  }
.contact_text {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #181818;
  font-size: 18px;
  letter-spacing: 0.98px;
  line-height: 1;
}

.article-header {
    position: relative;
  }
  .article-title {
    position: absolute;
    bottom: 0;
    padding: 20px;
    background-color: white;
    margin: 0;
  }
  .article-content {
    padding-top: 20px;
    text-align: justify;
  }
  .list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #1C2331;
    border-color: #1C2331;
}

.about {

  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.24px;

}
.why_us_background {
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.why_us {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.about__bg{
  background-image: url("./img/photo9.jpg");
  height: 100%;
}

.text-baner{
  text-shadow: 0 0 10px black;
}
@media( max-width: 575px){


  .main-header__carousel-img-mobile{
    
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
     height: 400px;
      width: 100%;

  }
  .mobile-banner{
    background: rgba(255,255,255, .8);
    width: 100%;
    padding: 15px;
  }
  .mobile-banner-title{
    padding: 15px;
  }
  .mobile-header-button{
    font-size: 13px;
    background-color 
  }
  .mobile-header__btn {
    font-family: "Montserrat", sans-serif;
    background: rgba(255,255,255, .8);
    color: #2C2C2C;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 6px 11px;
    border: 2px solid #2C2C2C;
    transition: 0.5s;
    cursor: pointer;
  }

  .banner-section-mobile{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
  }
}
@media(min-width: 576px){
  .main-header__carousel-img-mobile, .mobile-banner, .mobile-banner-title, .mobile-header-button, .mobile-baner-indicators, .banner-section-mobile{
    
      display:none;

  }
  
}

.carousel-indicators{
  bottom: 20%;
}

